version: "3.9"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: ingestion
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
